In [1]:
# import package yang akan digunakan
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
# membaca dataset file csv
df = pd.read_csv("MoviesOnStreamingPlatforms_updated.csv")
df

      Unnamed: 0    ID  ...                              Language  Runtime
0              0     1  ...  English,Italian,Latin,Spanish,German    209.0
1              1     2  ...                         Hindi,English    161.0
2              2     3  ...                               English     83.0
3              3     4  ...                         Hindi,English    224.0
4              4     5  ...                               English     52.0
...          ...   ...  ...                                   ...      ...
9510        9510  9511  ...                         Greek,English      NaN
9511        9511  9512  ...                               English     23.0
9512        9512  9513  ...                                   NaN      NaN
9513        9513  9514  ...                                   NaN      NaN
9514        9514  9515  ...                               English      NaN

[9515 rows x 17 columns]

In [3]:
# menetapkan 'genre' sebagai kolom yang nantinya akan diterapkan association rules
df = df[["Genres"]]
# menghapus data genres yang bernilai kosong atau NaN
df = df.drop(df.loc[df["Genres"].isna()].index)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9399 entries, 0 to 9514
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Genres  9399 non-null   object
dtypes: object(1)
memory usage: 146.9+ KB

In [4]:
# membuat data frame baru yang berisi genre
df_genres = df["Genres"].apply(lambda x: x.split(","))
df_genres.head()

0                 [Biography, Crime, Drama]
1         [Action, Biography, Drama, Sport]
2                  [Documentary, Biography]
3                   [Drama, Musical, Sport]
4    [Action, Drama, History, Romance, War]
Name: Genres, dtype: object

In [5]:
# ubah data frame genre menjadi list
list_data = df_genres.tolist()

In [6]:
te = TransactionEncoder()
df_genres_2 = te.fit(list_data).transform(list_data)
df_genres_2 = pd.DataFrame(df_genres_2, columns=te.columns_)
df_genres_2.head()

   Action  Adventure  Animation  Biography  ...  Talk-Show  Thriller    War  Western
0   False      False      False       True  ...      False     False  False    False
1    True      False      False       True  ...      False     False  False    False
2   False      False      False       True  ...      False     False  False    False
3   False      False      False      False  ...      False     False  False    False
4    True      False      False      False  ...      False     False   True    False

[5 rows x 27 columns]

In [13]:
# Algoritma Apriori
df_genres_apriori = apriori(df_genres_2, min_support=0.1, use_colnames=True)
df_genres_apriori

     support           itemsets
0   0.169380           (Action)
1   0.128843        (Adventure)
2   0.364188           (Comedy)
3   0.119268            (Crime)
4   0.124162      (Documentary)
5   0.446856            (Drama)
6   0.146611           (Family)
7   0.172997          (Romance)
8   0.200234         (Thriller)
9   0.114906    (Comedy, Drama)
10  0.112459   (Romance, Drama)
11  0.105011  (Thriller, Drama)

In [14]:
df_rules = association_rules(df_genres_apriori, metric="lift", min_threshold=1)
df_rules

  antecedents consequents  antecedent support  ...      lift  leverage  conviction
0   (Romance)     (Drama)            0.172997  ...  1.454745  0.035154    1.580689
1     (Drama)   (Romance)            0.446856  ...  1.454745  0.035154    1.105126
2  (Thriller)     (Drama)            0.200234  ...  1.173626  0.015535    1.163147
3     (Drama)  (Thriller)            0.446856  ...  1.173626  0.015535    1.045446

[4 rows x 9 columns]